@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    300.81deg,
    #44e2e7 -43.27%,
    #6ed6da -21.24%,
    #54bcc0 12.19%,
    #7de7eb 29.82%,
    #87d7da 51.94%,
    #33bbcf 90.29%
  );
}

.bg-button-gradient {
  background-image: linear-gradient(to left bottom, #cd4f3c, #d5463c, #dc3b3d, #e42c3f, #eb1242);
}

.bg-attempt-gradient {
  background-image: linear-gradient(to left bottom, #3ccd62, #35d273, #2fd783, #2bdc92, #2ae1a1);
}

.bg-bluecard-gradient {
  background-image: linear-gradient(to bottom, #0f0a0d, #161416, #1c1b1d, #232225, #29292c, #2a2b2e, #2c2c2f, #2d2e31, #292a2d, #252629, #212325, #1d1f21);
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

/* #00040f */

.bg-black-gradient-3 {
  background: radial-gradient(rgb(56, 50, 50), #00040f);
}

.bg-red-gradient {
  background: linear-gradient(125.17deg, #c54a4a 0%, #5f58af 100%);
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-red-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(49, 16, 235, 0.774) -341.94%,
    #dd1752 95.11%
  );
}

.bg-profile-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}
.bg-question-gradient {
  background-image: linear-gradient(to right bottom, #00040f, #11141a, #1c1e25, #262930, #31343b);
}


.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background-color: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.streakcard__gradient {
  background-image: linear-gradient(to left, #2a2227, #2b252b, #2c292e, #2d2c31, #2f2f33, #2f2f34, #2e3035, #2d3036, #292e36, #242d37, #1f2b37, #182a37);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}